In [2]:
import pandas as pd

In [3]:
dataFrame = pd.read_excel("bisiklet_fiyatlari.xlsx")
# excelden dosya okuyor gerekli kütüphane "openpyxl"

In [4]:
dataFrame

           Fiyat  BisikletOzellik1  BisikletOzellik2
0     807.673876       1749.628226       1749.590668
1     959.227520       1748.007826       1751.824206
2     718.020033       1750.122967       1747.977026
3     945.668885       1749.916440       1750.771646
4     955.542968       1750.780519       1750.592430
..           ...               ...               ...
995   833.920637       1750.033229       1749.427281
996   800.298076       1747.996913       1750.035046
997   799.261737       1752.540381       1747.983310
998   705.802257       1751.349290       1747.484989
999  1048.892414       1748.656426       1752.539962

[1000 rows x 3 columns]

In [5]:
dataFrame.head(10) # ilk 10 veriyi getiriyor

         Fiyat  BisikletOzellik1  BisikletOzellik2
0   807.673876       1749.628226       1749.590668
1   959.227520       1748.007826       1751.824206
2   718.020033       1750.122967       1747.977026
3   945.668885       1749.916440       1750.771646
4   955.542968       1750.780519       1750.592430
5   950.221425       1749.463071       1751.099011
6   972.099912       1750.482746       1750.778662
7   730.747018       1750.724858       1748.037351
8   653.006430       1750.029061       1747.332994
9  1108.363012       1749.834880       1752.790342

In [8]:
dataFrame.tail(10) # son 10 veriyi getiriyo

           Fiyat  BisikletOzellik1  BisikletOzellik2
990  1093.890323       1753.018295       1751.117792
991   759.981745       1747.967388       1749.485366
992  1151.034939       1750.957868       1752.740224
993   907.123253       1750.222723       1750.165639
994   843.259911       1748.180719       1750.423926
995   833.920637       1750.033229       1749.427281
996   800.298076       1747.996913       1750.035046
997   799.261737       1752.540381       1747.983310
998   705.802257       1751.349290       1747.484989
999  1048.892414       1748.656426       1752.539962

In [ ]:
dataFrame.head(-10) # son 10 veriyi silip kalanı getiriyor

           Fiyat  BisikletOzellik1  BisikletOzellik2
0     807.673876       1749.628226       1749.590668
1     959.227520       1748.007826       1751.824206
2     718.020033       1750.122967       1747.977026
3     945.668885       1749.916440       1750.771646
4     955.542968       1750.780519       1750.592430
..           ...               ...               ...
985   901.819084       1751.820911       1749.665123
986   741.395433       1749.678008       1748.725804
987   951.111486       1749.076045       1750.958219
988  1010.262616       1750.554861       1751.357784
989   736.853156       1751.923163       1747.482185

[990 rows x 3 columns]

In [9]:
dataFrame.tail(-10) # ilk 10 veri hariç tüm veriler

           Fiyat  BisikletOzellik1  BisikletOzellik2
10   1092.432411       1753.674957       1750.855601
11    831.901730       1750.403934       1749.236900
12   1050.644778       1749.482545       1752.425774
13    932.457666       1751.350257       1749.893437
14    827.461885       1748.815151       1750.096879
..           ...               ...               ...
995   833.920637       1750.033229       1749.427281
996   800.298076       1747.996913       1750.035046
997   799.261737       1752.540381       1747.983310
998   705.802257       1751.349290       1747.484989
999  1048.892414       1748.656426       1752.539962

[990 rows x 3 columns]